{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>WheelDeal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="logo"> WheelDeal</div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'buy_new' %}">Buy New</a></li>
        <li><a href="{% url 'buy_old' %}">Buy Old</a></li>
        <li><a href="{% url 'sell' %}">Sell / Exchange</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        <li><a href="{% url 'loan_list' %}">Loan</a></li>

      
    </ul>

    <div class="auth-links">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="auth-btn logout">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="auth-btn login">Login</a>
            <a href="{% url 'signup' %}" class="auth-btn signup">Signup</a>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="footer">
    © 2026 WheelDeal | Buy • Sell • Exchange • Drive Better
</footer>

</body>
</html>
