{% extends "base.html" %}
{% block content %}

<div class="container">

    <h2>New Cars</h2>
    <div class="vehicle-grid">
        {% for v in cars %}
        <div class="vehicle-card">
            <img src="{{ v.image.url }}">
            <div class="vehicle-body">
                <h3>{{ v.brand }} {{ v.name }}</h3>
                <div class="price">₹ {{ v.price }}</div>
                <a href="{% url 'vehicle_detail' v.id %}" class="btn">
                    View Details
                </a>
            </div>
        </div>
        {% empty %}
        <p>No new cars available</p>
        {% endfor %}
    </div>

    <h2 style="margin-top:60px;">New Bikes</h2>
    <div class="vehicle-grid">
        {% for v in bikes %}
        <div class="vehicle-card">
            <img src="{{ v.image.url }}">
            <div class="vehicle-body">
                <h3>{{ v.brand }} {{ v.name }}</h3>
                <div class="price">₹ {{ v.price }}</div>
                <a href="{% url 'vehicle_detail' v.id %}" class="btn">
                    View Details
                </a>
            </div>
        </div>
        {% empty %}
        <p>No new bikes available</p>
        {% endfor %}
    </div>

</div>

{% endblock %}
