{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="section-title">My Cart</h2>

    {% if items %}
        {% for i in items %}
            <div class="card">
                <h3>{{ i.vehicle.name }}</h3>
                <p>Price: ₹ {{ i.vehicle.price }}</p>

                <p>
                    <a href="{% url 'decrease' i.vehicle.id %}" class="btn">-</a>
                    Quantity: {{ i.quantity }}
                    <a href="{% url 'increase' i.vehicle.id %}" class="btn">+</a>
                </p>

                <p>Subtotal: ₹ {{ i.subtotal }}</p>

                <a href="{% url 'remove' i.vehicle.id %}" class="btn">Remove</a>
            </div>
        {% endfor %}

        <h3>Total: ₹ {{ total }}</h3>
    {% else %}
        <p>No items in cart</p>
    {% endif %}
</div>
{% endblock %}
