{% extends 'base.html' %}
{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Welcome Back</h2>
        <p class="auth-subtitle">Login to continue to WheelDeal</p>

        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>

            <button class="btn auth-btn-full">Login</button>
        </form>

        <p class="auth-footer">
            Don’t have an account?
            <a href="{% url 'signup' %}">Sign up</a>
        </p>
    </div>
</div>

{% endblock %}
